:root {
	/* startje */
	--color-text:black;
    --color-textblackbutton:white;
	--color-background:#eee;
    --color-blackbutton: black;

    --color-whitebutton: white;
    --color-textwhitebutton:black;
}

/* CENTREREN/POSITIONERING */

main section:nth-of-type(1) {
    width: 100%;

    display: grid;
    row-gap: 3vh;

    margin: 0;
    padding: 0;

}

main section:nth-of-type(1) img { 
    width: 100%;
    height: auto;

    grid-column-start: 1;
    grid-column-end: 6;
    margin: 0; 
    padding: 0; 
    
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 28px;   
    
    grid-column-start: 2;
    grid-column-end: 5;
    /* margin-left: 8vw; */
    margin: 0;


}


main section:nth-of-type(1) p {
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;

    grid-column-start: 2;
    grid-column-end: 5;
    /* margin-left: 8vw;
    margin-right: 8vw; */
    /* margin-top: 1vh; */
}

main section:nth-of-type(1) button {
    width: 80vw;
    height: 7vh;
    background-color: var(--color-blackbutton);
    color: var(--color-textblackbutton);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    grid-column-end: 5;
    grid-column-start: 2;
}




main section:nth-of-type(2) {
    display: flex;
    flex-direction: column; 
    align-items: center;

    
}

main section:nth-of-type(6) {
    display: flex;
    flex-direction: column; 
    align-items: center;
}




/* eerste foto van schoenen */





/* the northface official goretex */
main section:nth-of-type(1) p,
main section:nth-of-type(3) p,
main section:nth-of-type(4) p {
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;

    grid-column-start: 2;
    grid-column-end: 5;
    
    /* margin-left: 8vw;
    margin-right: 8vw; */
    /* margin-top: 1vh; */
}



/* tweede foto van vrouw die klimt */

main section:nth-of-type(2) img {
    width: 100%;
    height: auto;
    margin-top: 5vh;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0vh;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

main section:nth-of-type(2) button {
    width: 30vw;
    height: 7vh;
    background-color: var(--color-blackbutton);
    color: var(--color-textblackbutton);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3vh;
    /* margin-left: 35vw; */
    border: none;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

/* derde foto van 2 kinderen */

main section:nth-of-type(3){
    width: 100%;
    
    display: grid;
    row-gap: 3vh;
}

main section:nth-of-type(3) img {
    width: 90vw;
    height: auto;
    margin-top: 15vh;

    grid-column-start: 1;
    grid-column-end: 6;
    margin: 0; 
    padding: 0; 
}

main section:nth-of-type(3) button,
main section:nth-of-type(4) button {
    width: 30vw;
    height: 7vh;
    background-color: var(--color-blackbutton);
    color: var(--color-textblackbutton);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    grid-column-start: 2;
    grid-column-end: 5;

}

main section:nth-of-type(4){
    width: 100%;
    display: grid;
    row-gap: 3vh;
}

/* vierde foto van jonge met geblond haar */
main section:nth-of-type(4) img {
    width: 90vw;
    height: auto;
    margin-top: 5vh;

    grid-column-start: 1;
    grid-column-end: 6;
    margin: 0; 
    padding: 0; 
}


/* CARROUSEL */

main section:nth-of-type(5) ul{
    width: 100vw;     
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 5vw;
    overflow: hidden;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
}

main section:nth-of-type(5) ul::-webkit-scrollbar {
    display: none; 
}

main section:nth-of-type(5) ul li:nth-of-type(1) img {
    width: 80vw;
    height: auto;
    margin-left: 5vw;
    margin-top: 5vh;
}

main section:nth-of-type(5) ul li:nth-of-type(2) img, main section:nth-of-type(5) ul li:nth-of-type(3) img {
    width: 80vw;
    height: auto;
    margin-top: 5vh;
}

main section:nth-of-type(5) ul li:nth-of-type(4) img {
    width: 80vw;
    height: auto;
    margin-top: 5vh;
    /* margin-right: 5vw; */
}

main section:nth-of-type(5) ul li {
    scroll-snap-align: center; 
    text-align: center; 
}

main section:nth-of-type(5) ul li:nth-of-type(1) button,
main section:nth-of-type(5) ul li:nth-of-type(2) button,
main section:nth-of-type(5) ul li:nth-of-type(3) button,
main section:nth-of-type(5) ul li:nth-of-type(4) button {
    width: 50vw;
    height: 7vh;
    background-color: var(--color-whitebutton);
    color: var(--color-textwhitebutton);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3vh;
    margin-left: 20vw;
    border: 2px solid black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: 500;
}

.carousel-button2 {
    width: 50vw;
    height: 7vh;
    background-color: var(--color-whitebutton);
    color: var(--color-textwhitebutton);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3vh;
    margin-left: 25vw;
    border: 2px solid black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: 500;
}
/* EINDE CARROUSEL */



