

/* CENTREREN/POSITIONERING */

body main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


/* ALGEMENE STIJLEN */
main section{
    background-color: var(--bg);
    display: grid;
    row-gap: 3vh;
    margin: 0;
    padding: 0;
    grid-template-columns: 2rem 1fr 1fr 1fr 2rem; 
    width: 100%;
}

main section h1{
    font-family: var(--font-textroboto);
    color: var(--text);
    font-weight: 500;
    font-size: var(--h1size);   
    grid-column-start: 2;
    grid-column-end: 5;
    margin: 0;
}

main section h2{
    font-family: var(--font-textroboto);
    color: var(--text);
    margin-bottom: 0vh;
    font-weight: 500;
    font-size: var(--h2size);
    text-align: center;
    grid-column-end: 5;
    grid-column-start: 2;
    margin: 0;
}

main section p {
    font-family: var(--font-textroboto);
    color: var(--text);
    font-size: var(--psize);
    font-weight: 400;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 5;
}

main section img{
    height: auto;
    margin: 0; 
    padding: 0; 
}

main section button{
    background-color: var(--bgbutton);
    color: var(--textbutton);
    font-family: var(--font-textroboto);
    font-size: var(--buttonfontsize);    
    font-weight: 400;    
    border: none;
    border-radius: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;  
}
/* EINDE ALGEMENE STIJLEN */


/* MAIN SECTION 1 */

main section:nth-of-type(1) video { 
    width: 100%;
    height: auto;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 0; 
    padding: 0; 
}

main section:nth-of-type(1) button { 
    grid-column-start: 2;
    grid-column-end: 5;

}
/* EINDE SECTION 1 */


/* SECTION 2 */

main section:nth-of-type(2) img {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6; 
}


main section:nth-of-type(2) button {
    width: 6em;
    grid-column-start: 3;    
    grid-column-end: 4;
}

/* EINDE SECTION 2 */

/* SECTION 3 EN 4 */
/* DEZE ZIJN SAMEN OMDAT ZE ERG OP ELKAAR LIJKEN */

main section:nth-of-type(3) img,
main section:nth-of-type(4) img {
    width: 90%;
    grid-column-start: 1;
    grid-column-end: 6;
    justify-self: center;
}

main section:nth-of-type(3) button,
main section:nth-of-type(4) button {
    grid-column-start: 2;
    padding-left: 1em;
    padding-right: 1em;
}

/* EINDE SECTION 3 EN 4 */

/* MAIN SECTION 5 CARROUSEL */

main section:nth-of-type(5) ul{
    width: 100%;     
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 5vw;
    overflow: hidden;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    grid-column-start: 2;
    grid-column-end: 5;
}

main section:nth-of-type(5) ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

main section:nth-of-type(5) ul::-webkit-scrollbar {
    display: none; 
}

main section:nth-of-type(5) ul li img {
    width: 80vw;
}

main section:nth-of-type(5) ul li {
    scroll-snap-align: center; 
    text-align: center; 
}

main section:nth-of-type(5) ul li button {
    background-color: var(--bgwbutton);
    color: var(--textwbutton);
    font-family: var(--font-textroboto);
    font-size: var(--buttonfontsize);     
    width: 50vw;
    height: 7vh;
    margin-left: 15vw;
    border: var(--borderwbutton);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: 500;
}
/* EINDE SECTION 5 CARROUSEL */



