/**************/
/* CSS REMEDY */
/**************/



/* ALLE KLEUREN IN DE ROOT */
/* --color-textred: black; */
/* font size clamp */


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:black;
    --color-textblackbutton:white;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 100vw;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li:nth-child(1) img {
    width: 20vw;
    margin-right: 22vw;
}

nav ul li:nth-child(2) img,
nav ul li:nth-child(3) img,
nav ul li:nth-child(4) img {
    width: 7vw;
}


