/* @font-face voor de fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
  }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
  }


/**************/
/* ROOT */
/**************/

:root {
color-scheme: light dark;
font-size: 1em;

/* ACHTERGRONDEN */
--bg:white;

/* FONTS */
--font-textroboto: 'Roboto', sans-serif;
--text:black;

--psize: 1.25em;
--h1size: 1.75em;
--h2size: 1.5em;
--footerpsize: 1em;
--footerh2size: 1.25em;

/* BUTTONS */
--bgbutton:black;
--textbutton:white;
--bgwbutton:white;
--textwbutton:black;
--borderwbutton: solid 2px black;

--buttonfontsize: 1.25em;

/* INVERT VOOR DE ICONS */
--invert: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
    /* ACHTERGRONDEN */
    --bg: black;
  
    /* FONTS */
    --text: white;
  
    /* BUTTONS */
    --bgbutton: white;
    --textbutton: black;
    --bgwbutton: black;
    --textwbutton: white;
    --borderwbutton: solid 2px white;

    /* INVERT VOOR DE ICONS */
    --invert: 1;
    }
  }
   
/****************/
/* JOUW STYLING */
/****************/

/* ALGEMEEN */
:focus-visible {
    outline: 3px solid blue; 
    outline-offset: 3px; 
}

p,h1,h2{
    font-family: var(--font-textroboto);
}

html, body {
    background-color: var(--bg);
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

main{
    background-color: var(--bg);
}

.invert{
    filter: invert(var(--invert));
}

/* EINDE ALGEMEEN */

/* HEADER */
header {
    background-color: var(--bg);
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
}

nav:nth-of-type(2) ul {
    display: flex;
    justify-content: space-between;
    row-gap: 0.5em;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 2.5em;
}

nav:nth-of-type(2) ul li {
    margin: 0 15px;
}

nav ul li:nth-child(1) img {
    width: 4em;
    margin-right: 30vw;
}

nav ul li:nth-child(2) img,
nav ul li:nth-child(3) img,
nav ul li:nth-child(4) img {
    width: 1.5em;
    height: auto;
}

nav ul li:nth-child(4) svg {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;  
}
/* EINDE HEADER */

/* FOOTER */
/* FOOTER ALGEMENE STIJLEN */
footer{
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

footer h2{
    color: var(--text);
    font-family: var(--font-textroboto);
    font-weight: 500;
    font-size: var(--footerh2size);
    text-align: left;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 5;
}

footer section:nth-of-type(1),
footer section:nth-of-type(3),
footer section:nth-of-type(4),
footer section:nth-of-type(5),
footer section:nth-of-type(6)
{
    background-color: var(--bg);
    display: grid;
    row-gap: 2vh;
    margin: 0;
    padding: 0;
    grid-template-columns: 2rem 1fr 1fr 1fr 2rem; 
}

footer p{
    color:var(--text);
    font-family: var(--font-textroboto);
    font-size: var(--footerpsize);  
    font-weight: 300;
    text-align: left;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 5;
}

footer section button{
    background-color: var(--bgbutton);
    color: var(--textbutton);
    font-family: var(--font-textroboto);
    font-size: var(--buttonfontsize);  
    border: none;
    font-weight: 400;
    border-radius: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 5;
    height: 2.5em;
}
/* EINDE FOOTER ALGEMENE STIJLEN */

/* FOOTER STIJLEN */
/* FOOTER SECTION 1 */
footer section:nth-of-type(1) {
    margin-top: 5vh;
}

footer section:nth-of-type(1) h2{
    text-align: center;
}

footer section:nth-of-type(1) p{
    text-align: center;
}

/* EINDE FOOTER SECTION 1 */

/* FOOTER SECTION 2 */
footer section:nth-of-type(2) {
    font-family: var(--font-textroboto);
}

footer section:nth-of-type(2) summary{
    background-color: var(--bg);
    list-style: none; 
    font-size: 1.125em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
}

summary::-webkit-details-marker {
    display: none;
}

summary img {
    transition: transform 0.3s ease;
}

details[open] summary img {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

footer section:nth-of-type(2) details{
    background-color: var(--bg);
    border-top: 1px solid lightgrey ;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}

footer section:nth-of-type(2) ul{
    list-style-type: none;    
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer section:nth-of-type(2) img{
    width: 3vw;
}

footer section:nth-of-type(2) li{
    color:var(--text);
    font-size: 1em;
    font-weight: 300;
}
/* EINDE DROPDOWNS */
/* EINDE FOOTER SECTION 2 */

/* FOOTER SECTION 3 */
footer section:nth-of-type(3) form {
    display: flex;
    justify-content: center; 
    grid-column-start: 2;
    grid-column-end: 5;
}
  
footer section:nth-of-type(3) input[type="email"] {
    font-size: 1em;     
    width: 82vw; 
    height: 2em;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px; 

    grid-column-start: 2;
    grid-column-end: 5;
}

footer section:nth-of-type(3) input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    cursor: pointer; 
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
}

footer section:nth-of-type(3) label {
    font-family: var(--font-textroboto);
    color:var(--color-lichtetext);
    font-weight: 400;
    font-size: 1em;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
}

footer section:nth-of-type(3) input[type="email"]::placeholder {
    color: gray;
    transform: translate(0px, -8px);
}
/* EINDE FOOTER SECTION 3 */

/* FOOTER SECTION 4 */
footer section:nth-of-type(4){
    border-top: 1px solid lightgrey ;
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* EINDE FOOTER SECTION 4 */

/* FOOTER SECTION 5 */
footer section:nth-of-type(5) ul{
    list-style-type: none;    
    display: flex;    
    padding: 0;
    margin: 0;
    max-width: 50%;
    justify-content: space-between;

    grid-column-start: 2;
    grid-column-end: 5;
}

footer section:nth-of-type(5) ul li img{
    max-width: 5vw;
}
/* EINDE FOOTER SECTION 5 */

/* FOOTER SECTION 6 */
footer section:nth-of-type(6){
    border-top: 1px solid lightgrey ;
    border-bottom: 1px solid lightgrey;
}

footer section:nth-of-type(6) ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;    
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0;
    margin: 0;
    gap: 2vh;
    grid-column-start: 2;
    grid-column-end: 5;
}

footer section:nth-of-type(6) li{
    font-family: var(--font-textroboto);
    color:var(--color-text);
    font-size: 15px;
    font-weight: 400;
}

footer section:nth-of-type(6) label{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
}

footer section:nth-of-type(6) a {
    color: var(--color-text);
    font-family: var(--font-textroboto);
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 5;
}
/* EINDE FOOTER SECTION 6 */


/* HAMBURGER MENU  */
 header nav:nth-of-type(1) {
    overflow-y: auto;
    background-color: var(--bg);
}

/* BEGIN HAMBURGER SUMMARY */
summary {
    list-style: none; 
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-family: var(--font-textroboto);
    background-color: var(--bg);
    padding-left: 20px;
    padding-right: 20px;
    /* text-transform: uppercase; */
}

details[open] summary img {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
  
summary::-webkit-details-marker {
    display: none;
}

summary img {
    transition: transform 0.3s ease;
}

header details{
    border-top: 1px solid lightgrey ;
    border-bottom: 1px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}

header nav:nth-of-type(1) ul{
    list-style-type: none;    
    padding: 0;    
}

header details summary img{
    width: 3vw;
}

header nav:nth-of-type(1) li{
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-textroboto);
    border-top: 1px solid lightgrey ;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    list-style-type: none;
}
/* EINDE HAMBURGER SUMMARY */

/* IN EN UITKLAPPEN */
header nav:nth-of-type(1) {
    position:fixed;
    left:0;
    right:0;
    top:7%;
    bottom:0vh;
    translate:-100%;
    transition:0.2s;
}

header nav:nth-of-type(1).toonMenu {
    translate:0;
    /* background-color: var(--bg); */
}

/* SUMMARY IN DE SUMMARY */
header nav details:nth-of-type(1) details:nth-of-type(1) ul li{
    color:var(--text);
    font-size: 1em;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
}

header nav details:nth-of-type(1) details:nth-of-type(1) ul li:nth-of-type(1){
    margin-top: 20px;
}

header nav details:nth-of-type(1) details:nth-of-type(1) ul li a{
  text-decoration: none;
  color: var(--text);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}